@font-face {
    font-family: dark1;
    src: url(./fonte/DarkerGrotesque-Medium.ttf);
  }
  @font-face {
    font-family: dark2;
    src: url(./fonte/DarkerGrotesque-Bold.ttf);
  }
  @font-face {
    font-family: dark_normal;
    src: url(./fonte/DarkerGrotesque-Regular.ttf);
  }

@media only screen and (min-width: 1281px) {
    body{
        background-color: rgb(51,51,51);
        overflow-x: hidden;

    }
    footer{
        overflow-x: hidden;
        font-family: dark_normal;
        background-color: rgb(51,51,51);
        width: 100vw;
        height: 320px;
        border-top: 3px solid;
        border-image-source: linear-gradient(120deg, rgb(221,185,89), rgb(44,86,127));
        border-image-slice: 1;  
        overflow-x: hidden;
        font-size: 25px;
        color:white

    }
    
    

    .Logo{
        max-width:100vh;
        max-height:80px;
        width: auto;
        height: auto;
    }

    .cabecalho{
        background-color: rgb(133, 206, 245);
        font-family: 'Darker Grotesque', sans-serif;
        overflow: hidden;



        
    }

    .itens{
        display: flex;
        justify-content: space-around;
        position: relative;
        left: -2%;
    }

    .sites_topo{
        font-size: 20px;
        display: flex;
        justify-content: center;
        position: relative;
        transform: translateY(40.5%); 
        text-decoration: none;
        color: rgb(51,51,51);
        font-weight: 600;
        }

    .Topo{
        padding: 5px 0px 5px 0px;
        background-color: rgb(133, 206, 245);
        overflow-x: hidden; 

        

    }

    .lobo{
        width: 100vw;
        height: 600px;
        background-image: url("./imgs/lobo3.png");
        background-size:cover;
        background-position: center;
        overflow: hidden;

    }

    .lobo_sessao{
        font-family: dark2;
        color:white;
        
    }

    .lobo_txt_1{
        display: flex;
        justify-content: center;
        font-size: 90px;
        font-weight:bold;
        
        position: relative;
        transform: translateY(170%); 
        left: 0.1%;

    }
    .lobo_txt_2{
        display: flex;
        justify-content: center;
        font-size: 125px;
        transform: translateY(100%); 
        position: relative;


    }
    .lobo_txt_3{
        display: flex;
        font-family: dark_normal;
        justify-content: center;
        font-size: 30px;
        position: relative;
        transform: translateY(135%); 
        text-align: center;
        left: 0.1%;

    }

    .sobre{
        background-color: rgb(44,86,127);
        height: 600px;
        width: 100vw;
        overflow: hidden;

        
    }


    .sobre_txt{
        font-family: dark2;
        color:rgb(222,185,89);
        font-size: 100px;
        display: flex;
        justify-content: center;
        position: relative;
        transform: translateY(30%); 

        
    }
    .sobre_txt_2{
        font-family: dark_normal;
        font-size: 60px;
        color:white;
        text-align: center;
        display: flex;
        justify-content: center;
        position: relative;
        transform: translateY(30%); 
    }


    .Valores{
        background-color: rgb(51, 51, 51);
        height: 1000px;
        width: 100vw;
        overflow: hidden;

        
    }


    .valores_txt_1{
        display: flex;
        justify-content: center;
        font-family: dark2;
        color:rgb(222,185,89);
        font-size: 100px;
        position: relative;
        transform: translateY(30%); 

    }
    .txt_valores_juntos{
        display: grid;
        font-family: dark2;
        color:white;
        font-size: 60px;
        flex-wrap: nowrap;
        grid-template-columns:  26% 20% 30% 30%;
        position: relative;
        transform: translateY(160%); 
        right: -6.5%;

    }
    .txt_valores_juntos2{
        display: grid;
        font-family: dark_normal;
        color:white;
        font-size: 40px;
        flex-wrap: nowrap;
        grid-template-columns:  24% 30% 20% 30%;
        position: relative;
        transform: translateY(40%);
        right: 1%;
        text-align: center;

    }

    
    .valores_imagens{
        display: flex;
        justify-content: space-around;
    }


    .circle {
        position: relative;
        transform: translateY(30%); 
        background-color: rgb(250,250,250);
        border-radius: 50%;
        width: 200px;
        height: 200px;
        position: relative;
        
      }

      .circle img {
        position: relative;
        height:150px;
        width: 150px;
        bottom: -15%;
        right: -12%;
      }


      .fotos{
          background-color: white;
          width: 100vw;
          height: 1500px;
      }
      .quadrado{
          height: 500px;
          width: 575px;
          background-color: rgb(44,86,128);
          border: 2px solid rgb(51,51,51);
          position: relative;
          left: 8vw;
          bottom: -80px;

      }
      .quadrado img {
        position: relative;
        height: 500px;
        width: 575px;
        transform: translate(10%,12.7%);
      }
      .terceira_sessao{
          position: relative;
          display: grid;
          grid-template-columns:  45% 40% ;
        }
        
      .Nome{
          color: black;
          font-size: 50px;
          font-family: dark2;

        }
        .idade{
            color: black;
          font-size: 40px;
          font-family: dark_normal;
        }
        .descricao{
            color: black;
          font-size: 42.5px;
          font-family: dark_normal;
          text-align: center;
        }
      .uniaotxt{
          position: relative;
          top: 28%;
      }

      .descricao2{
        color: black;
        font-size: 42.5px;
        font-family: dark_normal;
        text-align: right;
    }
      .uniaotxt2{
          position: relative;
          bottom: -350px;
          text-align: right;
          display: grid;
          grid-template-columns:  100% 190% ;

      }
      .quadrado2{
        height: 500px;
        width: 575px;
        background-color: rgb(44,86,128);
        border: 2px solid rgb(51,51,51);
        position: relative;
        left: 10vw;
        bottom: -250px;

    }
    .quadrado2 img {
        position: relative;
        height: 500px;
        width: 575px;
        transform: translate(-10%,12.7%);
    }
    .exemplo_txt{
        font-family: dark2;
        color:rgb(222,185,89);
        font-size: 100px;
        display: flex;
        justify-content: center;
        position: relative;
        transform: translateY(30%); 
        text-shadow: 0.2px 0.2px rgba(24, 24, 24, 0.87);
    }


    .rodape{
        display: flex;
        justify-content: space-around;
        position: relative;
        top: 15%;
        left: -3%;
    }



    .mapaimagem{
        height: 180px;
        width: 260px;
        position: relative;
    }

    .endereco{
        padding: 0px 0px 2px 35px;
        list-style: none;
        background-image: url("./imgs/simbolomapa.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 35px;    
        }
    
    
    .tel{
        padding: 0px 0px 2px 35px;
        list-style: none;
        background-image: url("./imgs/simbolotelefone.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 35px;

    }
    .email{
        padding: 0px 0px 2px 35px;
        list-style: none;
        background-image: url("./imgs/simboloemail.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 35px;

    }
    .somos{
        padding-left:1% ; 
        padding-right:1% ; 
        padding-top:0.8% ; 
        padding-bottom:0.8% ; 
        text-align: center;
        font-size: 25px;
        list-style: none;
        color:black;
        font-family: dark2;
        background-color:rgb(222,185,89);
        background-repeat: no-repeat;
        background-size: 30px;
        height: auto;
        width: auto;
        position: relative;
        left: 5%;

    }


    .pata{
        height: 100px;
        width: 150px;
    }

}